@mixin flexCenterBox($JCdefault: center, $AIdefault: center) {
  display: flex;
  justify-content: $JCdefault;
  align-items: $AIdefault;
}

.layoutConfig {
  @include flexCenterBox(center, start);
  background-color: rgb(246, 246, 246);

  .configFlexBox {
    @include flexCenterBox(start, center);
    flex-direction: column;
    width: 1140px;

    .signUpFlexBox {
      @include flexCenterBox(start, center);
      flex-direction: column;
      margin: 0 300px;

      h1 {
        margin: 70px auto 10px;
        font-size: 2rem;
      }

      .inputFlexBox {
        min-width: 600px;
        margin: 10px auto 15px;
        text-align: center;

        h4 {
          margin-bottom: 10px;
          padding: 0 7px;
          font-size: 1.4rem;
          text-align: left;
        }

        input {
          width: 97%;
          margin: 7px 5px;
          padding: 36px 19px 28px;
          border: 1px solid rgb(221, 221, 221);
          border-radius: 0;
          &:focus {
            outline: 1px solid black;
          }
        }

        .idFlexBox {
          position: relative;

          .configLabel {
            position: absolute;
            top: 43px;
            left: 25px;
            color: #888;
            font-size: 13px;

            .required {
              color: #ff5931;
            }
          }

          .userIdInput {
            width: 70%;
          }

          .userIdCheck {
            width: 25%;
          }
        }
      }
      .userInfoSubmit {
        width: 97%;
        padding: 18px 41px;
      }
      .Btn {
        color: white;
        background-color: black;
        font-size: 1rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
