.mainPage {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1920px;

  .mainBanner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    margin-bottom: 30px;
    overflow: hidden;

    .arrowBox {
      position: absolute;
      top: 45%;
      display: flex;
      justify-content: space-between;
      width: 1140px;
      height: 50px;

      .left,
      .right {
        width: 84px;
        height: 81px;
        background-repeat: no-repeat;
      }
    }

    .bannerBox {
      position: relative;
      display: flex;
      flex-direction: row;
      transition: 0.5s;
    }
  }

  .bestContainer {
    width: 1140px;

    .bestTitle {
      margin: 0 60px 0 60px;
      padding: 30px 10px 20px 10px;
      font-size: 32px;
    }

    .bestProducts {
      position: relative;

      .productsListWrap {
        margin: 0 47.5px 0 47.5px;
        padding: 15px 0 20px 0;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 104px;

            .circle {
              width: 68px;
              height: 68px;
            }

            p {
              margin-top: 8px;
              font-size: 15px;
            }
          }
        }
      }

      .productCarousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        padding: 0 60px 0 60px;

        .left {
          position: absolute;
          left: 0px;
          width: 70px;
          height: 68px;
          background-repeat: no-repeat;
          transform: translateY(-50%);
        }

        .right {
          position: absolute;
          right: 0px;
          width: 70px;
          height: 68px;
          background-repeat: no-repeat;
          transform: translateY(-50%);
        }

        .productImgWrap {
          width: 240px;
          margin: 20px 0 0 0;

          .productImg {
            width: 240px;
          }

          .productName {
            font-size: 15px;
          }

          .productPrice {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
