.cartContainer {
  display: flex;
  justify-content: center;

  .cartLayout {
    width: 1140px;

    .smallTitle {
      margin-bottom: 50px;
      padding-top: 10px;
      font-size: 12px;
    }

    .cartTitle {
      margin-bottom: 21px;
      text-align: center;
      font-size: 32px;
      font-weight: bold;
    }

    .emptyCart {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 108px;

      .emptyCartTitle {
        font-size: 18px;
        font-weight: bold;
      }

      .emptyCartBody {
        font-size: 15px;
        margin-top: 5px;
        line-height: 24px;
        letter-spacing: -0.15px;

        span {
          font-weight: bold;
        }
      }

      .goToBest {
        width: 265px;
        margin-top: 40px;
        border: 1px solid black;
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        cursor: pointer;
      }
    }
  }

  .cartBody {
    display: flex;
    flex-direction: row;

    .leftContainer {
      width: 740px;

      .leftTitle {
        padding: 0 7px;
        font-size: 21px;
        font-weight: bold;
      }

      .orderBox {
        margin-top: 28px;
        padding-bottom: 8px;
        border: 1px solid #eeeeee;

        .orderTop {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 20px 28px;
          font-size: 15px;

          .orderTopLeft {
            display: flex;
            flex-direction: row;
          }

          .orderTopRight {
            text-decoration: underline;
          }
        }
      }
    }

    .rightContainer {
      width: 360px;
      margin-left: 40px;

      .billBox {
        margin-top: 49px;
        border: 1px solid #eeeeee;

        .billTitle {
          padding: 23px 28px;
          border-bottom: 1px solid #eeeeee;
          font-size: 21px;
          font-weight: bold;
        }
        .billContents {
          padding: 23px 28px;
          border-bottom: 1px solid #eeeeee;

          .billContentsTitle {
            font-size: 18px;
            font-weight: bold;
          }
          .price {
            margin-top: 14px;
            font-size: 15px;
          }
          .shipping {
            span {
              font-size: 12px;
            }
          }

          .priceNum {
            font-weight: bold;
          }
        }

        .price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .total {
          padding: 23px 28px;
          font-weight: bold;
        }
      }

      .buyBtnBox {
        margin-top: 15px;
        text-align: center;

        .buyBtn {
          width: 100%;
          height: 60px;
          background-color: #fdb812;
          border: none;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

.checkBox {
  width: 21px;
  height: 21px;
  margin-right: 12px;
  background-image: url(../../assets/images/checkOff.png);
}

.checkHide {
  opacity: 1;
}
