@mixin flexCenterBox($JCdefault: center, $AIdefault: center) {
  display: flex;
  justify-content: $JCdefault;
  align-items: $AIdefault;
}

input {
  position: relative;
  width: 100%;
  margin: 7px 0;
  padding: 36px 19px 28px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0;

  &:focus-within {
    outline: 1px solid black;
  }
}

.userIdInput {
  width: 450px;
  margin-right: 5px;
}

.inputFlexBox {
  @include flexCenterBox(flex-start, flex-start);
  flex-direction: column;
  margin: 5px;

  .configLabel {
    top: 46px;
    left: 28px;
    color: #888;
    font-size: 13px;

    .required {
      color: #ff5931;
    }
  }
}

.none {
  display: none;
}
