.idInput {
  .userIdCheck {
    width: 25%;
    height: 75px;
    margin: 22px 5px 10px 0;
  }
}

.userInfoSubmit {
  width: 97%;
  margin-bottom: 50px;
  padding: 18px 41px;
}

.Btn {
  color: white;
  border: none;
  border-radius: 2;
  background-color: black;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }

  &:focus-within {
    outline: none;
  }
}
