@mixin flexCenterBox($JCdefault: center, $AIdefault: center) {
  display: flex;
  justify-content: $JCdefault;
  align-items: $AIdefault;
}

.layoutHeader {
  @include flexCenterBox(center, start);
  .headerFlexBox {
    width: 1000px;
    .authFlexBox {
      @include flexCenterBox(flex-end, start);
      width: 1000px;
      .layoutAuth {
        @include flexCenterBox(start, center);
        height: 38px;
        li {
          margin-right: 20px;
        }
      }
    }
    .navFlexBox {
      @include flexCenterBox(space-evenly, center);
      span {
        padding: 33px 0;
      }
    }
    .layoutNav {
      display: flex;
      li {
        margin-right: 20px;
      }
    }
    .navIconWrap {
      display: flex;
      a {
        padding: 0 10px;
      }
    }
  }
}
