.productDetail {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.contentsTitle {
  margin-right: 50px;
  font-weight: bolder;
}

.plusAndMinus {
  width: 18px;
}

.productLeft {
  margin-top: 70px;

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 480px;

    .sampleImage {
      width: 350px;
      height: 350px;
      background-color: rgb(255, 206, 82);
    }
  }
}

.productRight {
  margin-top: 70px;
  width: 500px;
  height: 550px;
  background-color: #f6f6f6;
  justify-content: left;

  .sectionsWrapper {
    margin: 20px;

    .sectionOne {
      padding: 10px 0px;
      border-bottom: 1px solid #e4e4e4;

      .productPrice {
        margin-top: 7px;
      }

      .productName {
        font-size: 22px;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
      }

      .productPrice {
        font-size: 22px;
        font-weight: bolder;
      }

      .iconsWrapper {
        width: 60px;
        .heart {
          width: 18px;
          margin-right: 10px;
        }
        .share {
          width: 18px;
        }
      }
    }

    .sectionTwo {
      padding: 10px 0px;
      border-bottom: 1px solid #e4e4e4;

      .coupon {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: center;

        .download {
          width: 18px;
        }
        .couponBtn {
          cursor: pointer;
          border: none;
          background-color: #feb814;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 30px;
          margin-left: 25px;

          .download {
            margin-left: 20px;
          }
        }
      }
      .tags {
        margin-bottom: 20px;

        .tagEach {
          background-color: white;
          margin-right: 8px;
          border-radius: 10px;
          padding: 5px;
          cursor: pointer;
        }
      }

      .shipping {
        margin-bottom: 20px;

        .shippingFee {
          margin-left: 11px;
        }
      }

      .review {
        margin-bottom: 15px;

        .star {
          margin-left: 22px;
        }

        .reviewUnit {
          margin-left: 5px;
        }
      }
    }

    .sectionThree {
      border-bottom: 1px solid #e4e4e4;
      padding: 10px 0px;

      .optionWrapper {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .selectBox {
          margin-bottom: 10px;
          width: 440px;
          height: 40px;
          border-color: #dddddd;
          outline: none;
        }
      }
    }

    .sectionFour {
      padding: 10px 0px;

      .productTotal {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        .totalAmount {
          font-size: 26px;
          margin-right: 20px;
        }
      }

      .selectedProduct {
        margin-top: 10px;
        .selectedProductName {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .close {
            margin-right: 20px;
          }

          .plusAndMinusWrapper {
            width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .BtnsWrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .putInCart {
          cursor: pointer;
          margin-right: 10px;
          font-size: 18px;
          border: none;
          background-color: black;
          color: white;
          width: 220px;
          height: 50px;
          font-weight: bolder;
        }

        .olderNow {
          cursor: pointer;
          font-size: 18px;
          border: none;
          background-color: #feb814;
          color: black;
          width: 220px;
          height: 50px;
          font-weight: bolder;
        }
      }
    }
  }
}
