.footerWraper {
  height: 412px;
  color: white;
  background-image: url('../../assets/images/bg_footer.png');
  background-repeat: no-repeat;
  font-size: 18px;

  margin-top: 50px;

  .footerNavList {
    display: flex;
    justify-content: center;
    align-items: center;

    .footerNavItem {
      margin-top: 170px;
      margin-left: 20px;
      padding-right: 20px;
    }

    .footerNavItem {
      border-right: 1px solid #9d9994;

      .policy {
        font-weight: bold;
      }
    }

    select {
      padding: 0.2em 1.4em 0.2em 0.8em;
      margin: 0;
      display: none;
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid #aaa;
      color: white;
    }
  }

  .companyInfo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #a19e9b;

    .infoList {
      padding-right: 140px;
      margin-bottom: 20px;
      font-size: 14px;

      .line {
        display: flex;

        .rightBar {
          padding-left: 10px;
          margin-left: 10px;
          border-left: 1px solid #9d9994;
        }
      }
    }

    .csPhone {
      margin-top: 10px;
      margin-bottom: 15px;
      text-decoration: underline;
      font-size: 35px;
    }
    .csWorkTime {
      font-size: 14px;
    }
  }
}
